@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
                <div class="col-6 pt-2">
                    <img src="/Images/logosmalltrans.png" >
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <h4>Assessment Project</h4>
                    </div>
                </div>
            </div>
      
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
